@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --font-base: 'Roboto Condensed', sans-serif;

    --bgBase-color: #121212;
    --bgExtra-color: #c7c7c7;
    --fontBase-color: #ffffff;
    --eleBase-color: #d6b830;
    --eleAccent-color: #e7c21b;
    --activeTask-color: #1e4620;
    --completedTask-color: #290f02;
}

html {
  font-family: var(--font-base);
}

body {
  scrollbar-width: thin;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: var(--bgBase-color);
}

::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}